# MittiMart - Cloud Database Configuration
# Copy this file to a new file named '.env' for local development.
# IMPORTANT: When deploying to Vercel, add 'MONGODB_URI' in the Vercel Settings > Environment Variables.

PORT=8080
MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/mittimart?retryWrites=true&w=majority
